<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eu4_ideasbuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EU4_IdeasBuilder">
        <activity
            android:name=".BuildChangeNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BuildAdditionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BuildSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildCreation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavedBuilds"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>